<div class="container">
    <div class="left">
      <span class="name">VietQuan Social</span>
    </div>
    <div class="center">
      <div class="searchbar">

        <fa-icon [icon]="['fas', 'search']" class="icon"></fa-icon>
        <input placeholder="Search for friend, post or video" class="searchInput" />
      </div>
    </div>
    <div class="bottom">
      <div class="topbarIcons">
        <div class="topbarIconItem" [routerLink]="['/']">
          <fa-icon [icon]="['fas', 'home']" class="icon"></fa-icon>
        </div>
        <div class="topbarIconItem">
          <fa-icon [icon]="['fas', 'user-alt']" class="icon"></fa-icon>
          <span class="topbarIconBadge">1</span>
        </div>
        <div class="topbarIconItem" [routerLink]="['/message']">
          <fa-icon [icon]="['fas', 'message']" class="icon" ></fa-icon>
          <span class="topbarIconBadge">2</span>
        </div>
        <div class="topbarIconItem">
          <fa-icon [icon]="['fas', 'bell']" class="icon"></fa-icon>
          <span class="topbarIconBadge">2</span>
        </div>
      </div>
  
      <img [src]="users?.avatarUrl " alt="Profile Image" class="topbarImg"/>
    </div>
  </div>
  