<div class="share">
  <div class="shareWrapper">
    <form [formGroup]="shareForm" (ngSubmit)="addPost()">
    <div class="shareTop">
      <img class="shareProfileImg" [src]="user?.avatarUrl" alt="" />
      <textarea
        formControlName="content"
        placeholder="What's in your mind"
        class="shareInput"
      ></textarea>
    </div>
    <hr class="shareHr" />
    <div class="shareBottom">
      <div class="shareOptions">
        <div class="shareOption">
          <fa-icon [icon]="['fas', 'photo-video']" class="shareIcon" style="color: tomato;"></fa-icon>
          <span class="shareOptionText">Photo or Video</span>
        </div>
        <div class="shareOption">
          <fa-icon [icon]="['fas', 'tag']" class="shareIcon" style="color: blue;"></fa-icon>
          <span class="shareOptionText">Tag</span>
        </div>
      </div>
      <button type="submit" class="shareButton"  [disabled]="shareForm.invalid">Share</button>
    </div>
  </form>
  </div>
</div>
