<div *ngFor="let post of posts" class="post">
  <div class="postWrapper">
    <div class="postTop">
      <div class="postTopLeft">
        <img class="postProfileImg" [src]="post.userImage" alt="" />
        <span class="postUsername">{{ post.username }}</span>
        <span class="postDate">{{ post.publishDate | date:'short' }}</span>
      </div>
      <div class="postTopRight">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
      </div>
    </div>
    <div class="postCenter">
      <span class="postText">{{ post.content }}</span>
      <img *ngIf="post.imageUrl" class="postImg" [src]="post.imageUrl" alt="" />
    </div>
    <div class="postBottom">
      <div class="postBottomLeft">
        <fa-icon [icon]="['fas', 'thumbs-up']" class="likeIcon"></fa-icon>
        <fa-icon [icon]="['fas', 'heart']" class="likeIcon"></fa-icon>
        <span class="postLikeCounter">32</span>
      </div>
      <div class="postBottomRight" (click)="toggleComments(post.postId)">
        <fa-icon [icon]="['fas', 'comment']"></fa-icon>
        See Comments
      </div>
    </div>
    <app-comment *ngIf="isCommentOpen(post.postId)" [postId]="post.postId"></app-comment>
  </div>
</div>
