<div class="post">
    <div class="postWrapper">
      <div class="postTop">
        <div class="postTopLeft">
          <img
            class="postProfileImg"
            src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/406584476_1524825711675173_4253876822231741739_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFguZmx1eDUezs4fjeEHC9tzSEhTyas_ZfNISFPJqz9l-LSENd9kNN2ygp25rBAOP768lRQqEJdvjTI_TrQqNHQ&_nc_ohc=ifIz6M68w8kQ7kNvgHDwlRv&_nc_ht=scontent.fsgn5-5.fna&oh=00_AYBY75XRIF03cnwRMa3Ao6mNYATi2ufCEKVKUwj9F715xw&oe=667C2F37"
            alt=""
          />
          <span class="postUsername">
            viet quan
          </span>
          <span class="postDate">2 hour ago</span>
        </div>
        <div class="postTopRight">
            <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
        </div>
      </div>
      <div class="postCenter">
        <span class="postText">hehe first post</span>
        <img class="postImg" src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/406584476_1524825711675173_4253876822231741739_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFguZmx1eDUezs4fjeEHC9tzSEhTyas_ZfNISFPJqz9l-LSENd9kNN2ygp25rBAOP768lRQqEJdvjTI_TrQqNHQ&_nc_ohc=ifIz6M68w8kQ7kNvgHDwlRv&_nc_ht=scontent.fsgn5-5.fna&oh=00_AYBY75XRIF03cnwRMa3Ao6mNYATi2ufCEKVKUwj9F715xw&oe=667C2F37" alt="" />
      </div>
      <div class="postBottom">
        <div class="postBottomLeft">
            <fa-icon [icon]="['fas', 'thumbs-up']" class="likeIcon"></fa-icon>
            <fa-icon [icon]="['fas', 'heart']" class="likeIcon"></fa-icon>
          <span class="postLikeCounter">32</span>
        </div>
        <div class="postBottomRight">
          <span class="postCommentText">9 comments</span>
        </div>
      </div>
    </div>
  </div>
  