<div class="register-container">
    <div class="register-form">
      <h2>Register</h2>
      <form [formGroup]="formData" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="firstname" class="txt2 bo1">First Name</label>
          <input type="text" id="firstname" formControlName="firstname" required>
          <div *ngIf="formData.get('firstname')?.hasError('required')" class="error-message">
            Please enter your first name.
          </div>
        </div>
        <div class="form-group">
          <label for="lastname" class="txt2 bo1">Last Name</label>
          <input type="text" id="lastname" formControlName="lastname" required>
          <div *ngIf="formData.get('lastname')?.hasError('required')" class="error-message">
            Please enter your last name.
          </div>
        </div>
        <div class="form-group">
          <label for="username" class="txt2 bo1">Email</label>
          <input type="email" id="username" formControlName="username" required>
          <div *ngIf="formData.get('username')?.hasError('required')" class="error-message">
            Please enter your email address.
          </div>
          <div *ngIf="formData.get('username')?.hasError('email')" class="error-message">
            Please enter a valid email address.
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="txt2 bo1">Password</label>
          <input type="password" id="password" formControlName="password" required>
          <div *ngIf="formData.get('password')?.hasError('required')" class="error-message">
            Please enter a password.
          </div>
        </div>
        <div class="form-group">
          <label for="phone" class="txt2 bo1">Phone Number</label>
          <input type="tel" id="phone" formControlName="phone" pattern="[0-9]{10,11}" required>
          <div *ngIf="formData.get('phone')?.hasError('required')" class="error-message">
            Please enter your phone number.
          </div>
          <div *ngIf="formData.get('phone')?.hasError('pattern')" class="error-message">
            Please enter a valid phone number (10 or 11 digits).
          </div>
        </div>
        <div class="error-message" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        <button type="submit" [disabled]="formData.invalid">Register</button>
        <a href="login" class="loginA">Login in</a>
      </form>
    </div>
  </div>