<div class="messages">
  <div class="chatMenu">
    <div class="chatMenuWrapper">
      <input placeholder='Search for friends' class="chatMenuInput" />
      <div *ngFor="let c of conversations" (click)="selectConversation(c)">
        <app-conversation [conversation]="c"></app-conversation>
      </div>
    </div>
  </div>
  <div class="chatBox" *ngIf="currentConversation; else noConversationSelected">
    <div class="chatBoxWrapper">
      <div class='headerChat'>
        <img class='messageImg' [src]="currentConversation.userImage" />
        <p class='displayName'>{{ currentConversation.name }}</p>
      </div>
      <div class="chatBoxTop">
        <app-message *ngFor="let message of currentConversationMessages"[conversation]="currentConversation" [message]="message" [own]="message.senderId == userId"></app-message>
      </div>
      <div class="chatBoxBottom">
        <textarea class='chatInput' placeholder='Write something ....' [(ngModel)]="messageContent" (keydown.enter)="sendMessage()"></textarea>
        <button class='chatSubmit' (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
  <ng-template #noConversationSelected>
    <div class="chatBox">
      <div class="chatBoxWrapper">
        <p style="text-align: center; padding: 20px;">Select a conversation to start chatting.</p>
      </div>
    </div>
  </ng-template>
</div>
