<app-header></app-header>
<div class="messages">
    <div class="chatMenu">
        <div class="chatMenuWrapper">
            <input placeholder='Search for friends' class="chatMenuInput" />
            <div *ngFor="let c of conversations">
                <app-conversation [conversation]="c"></app-conversation>
            </div>
        </div>
    </div>
    <div class="chatBox">

        <div class="chatBoxWrapper">
            <div class='headerChat'>
                <img class='messageImg' src='https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg' />
                <p class='displayName'>Loan cho</p>
            </div>

            <div class="chatBoxTop">

                <app-message [own]="true"></app-message>
                <app-message></app-message>
                <app-message [own]="true"></app-message>
                <app-message></app-message>
                <app-message [own]="true"></app-message>
            </div>
            <div class="chatBoxBottom">
                <textarea class='chatInput' placeholder='write something ....'></textarea>
                <button class='chatSubmit'>Send</button>
            </div>
        </div>
    </div>

</div>
