.messages {
    height: calc(100vh - 70px);
    display: flex;
 
}

.chatMenu {
    flex: 4;
}

.chatBox {
    flex: 8;
}




.chatBoxWrapper {


    height: 100%;
}

.chatMenuWrapper {
    padding: 10px;
    overflow-y: scroll;
    padding-right: 10px;
    height: 100%;
}

.chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.headerChat {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    top: 0;
}

.displayName {
    font-size: 17px;
    margin-left: 10px;
    font-weight: 500;
}
.messageImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    
}

.chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;

}

.chatInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmit {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white
}